@import "tailwindcss";
@media print {
  body * {
    visibility: hidden;
  }
  #report-card,
  #report-card * {
    visibility: visible;
  }
  #report-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}